/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #cecece;
  background: #5E6164;
}
@media (max-width: 500px) {
  html,
  body {
    width: 500px;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #cecece;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    width: 500px;
  }
}
.navDiv {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  margin: 0 auto;
  background: #424242;
}
@media (max-width: 500px) {
  .navDiv {
    width: 500px;
  }
}
.navDiv h1 {
  font-size: 4rem;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.navDiv nav {
  color: #454A59;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 1.3%;
}
.navDiv nav div {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.navDiv nav a {
  font-weight: bold;
  font-size: 1.8rem;
  display: flex;
  padding: 1.4rem;
  color: #bcbcbc;
  text-decoration: none;
  align-items: baseline;
}
.navDiv nav a:hover {
  text-shadow: #bcbcbc 1px 0 10px;
}
.navContainer {
  width: 100%;
  background: #424242;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 4;
}
#logo {
  width: 20rem;
  display: flex;
  align-content: center;
  justify-items: center;
}
#logoA {
  padding: 0;
  margin-bottom: 4%;
}
.signIn {
  background: #ffe100;
  color: #424242;
  height: 4rem;
  width: 10rem;
  border: 1px solid #424242;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0;
}
.signIn:hover {
  background: #424242;
  color: #ffe100;
  border: 2px solid #ffe100;
}
@media (max-width: 500px) {
  .signIn {
    padding-top: 6%;
    height: 70px;
    margin-right: 10%;
  }
}
footer {
  width: 100%;
  color: #bcbcbc;
  background: #424242;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.home {
  padding-top: 0;
  margin-top: 100px;
}
.home p {
  font-size: 2rem;
}
@media (max-width: 500px) {
  .home {
    width: 500px;
  }
}
.home .intro h2 {
  padding: 2rem;
}
.home .intro p {
  padding: 0rem 2rem 2rem 2rem;
}
.home .features {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 1rem 0 1rem 0;
}
.home .features h2 {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 2rem;
  font-size: 4rem;
}
@media (max-width: 500px) {
  .home .features .sky {
    display: none;
  }
  .home .features .launch {
    display: none;
  }
}
.home .features img {
  margin: 20px 2.5%;
}
@media (max-width: 500px) {
  .home .features img {
    width: 100%;
  }
}
.home .info2 {
  padding: 3rem 2rem 2rem 2rem;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
}
@media (max-width: 500px) {
  .home .walk {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-flow: column-reverse;
    padding: 0 20px;
  }
}
.icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row;
  margin-bottom: 6rem;
  border-top: 10px dotted #cecece;
  border-bottom: 10px dotted #cecece;
  padding: 5rem 0 8rem 0;
}
.icons div {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
}
.icons div img {
  width: 70%;
  height: 22rem;
  margin: auto;
}
.icons div h3 {
  font-size: 2rem;
  padding: 0 2rem;
  display: flex;
  text-align: center;
  padding: 0 auto;
}
.banner {
  width: 100%;
  overflow: hidden;
  display: block;
  height: 200px;
  position: relative;
  border: 4px solid #424242;
}
#myVideo {
  margin-left: -220px;
}
.overlay {
  position: absolute;
  top: 35%;
  left: 13.5%;
  z-index: 3;
  font-size: 6rem;
}
.overlay h1 {
  font-family: 'Allerta Stencil', sans-serif;
  color: #ffe100;
  text-shadow: #ffe100 1px 0 8px;
  opacity: 0.7;
}
.info2 h2,
.info2 p {
  padding-bottom: 2rem;
}
hr {
  color: #cecece;
  background: #cecece;
}
.member-bios {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-flow: row wrap;
  padding: 20px;
}
.member-bios .row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-flow: row;
  padding-bottom: 6rem;
}
.member-bios .proDiv {
  justify-content: center;
  align-content: center;
  flex-flow: column;
  width: 43%;
  padding: 3rem, 0;
}
.member-bios .proDiv .proPic {
  width: 90%;
  height: 38rem;
  border-radius: 50%;
  border: 7px solid #424242;
  box-shadow: 0 0 20px #cecece;
  margin-bottom: 3rem;
}
.member-bios .gitIcon {
  margin: 0.6rem 0;
}
.topBlurb {
  padding-bottom: 3rem;
}
.topBlurb p {
  font-size: 2rem;
  margin-bottom: 3rem;
}
.gitButtons {
  height: 50px;
}
.gitButtons:hover {
  border-radius: 50%;
  filter: drop-shadow(0px 0px 10px lightgrey);
}
.gitIcon {
  height: 50px;
  display: inline-block;
}
