//About-us code here

.member-bios{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-flow: row wrap;
    padding: 20px;

   .row{
       display: flex;
       width: 100%;
       justify-content: space-between;
       flex-flow: row;
       padding-bottom: 6rem;
   }

    .proDiv{
        justify-content: center;
        align-content: center;
        flex-flow: column;
        width: 43%;
        padding: 3rem, 0;

        .proPic{
            width: 90%;
            height: 38rem;
            border-radius: 50%;
            border: 7px solid @nav-bg;
            box-shadow: 0 0 20px @main-font-color;
            margin-bottom: 3rem;
        }

        
    }

    .gitIcon{
        margin: .6rem 0;
    }

}

.topBlurb{
    padding-bottom: 3rem;
    p{
        font-size: 2rem;
        margin-bottom: 3rem;

    }
}


.gitButtons{
    height: 50px;
    &:hover{
        border-radius: 50%;
        
        filter: drop-shadow(0px 0px 10px lightgrey);
    }
}


.gitIcon{
    height: 50px;
    display: inline-block;
}
